@using System.Globalization
@model IEnumerable<CinemaClient.Models.SessaoSugestaoDataInicioViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Convert.ToDateTime(item.DataInicio).ToString("g", CultureInfo.GetCultureInfo("pt-BR"))
            </td>
            <td>
                @Convert.ToDateTime(item.DataFim).ToString("g", CultureInfo.GetCultureInfo("pt-BR"))
            </td>
                @{
                    var estilo = ""; var disponivel = "";
                    if (item.Disponivel == 1)
                    {
                        estilo = "text-success";
                        disponivel = "Sim";
                    }
                    else
                    {
                        estilo = "text-danger";
                        disponivel = "Não";
                    }
                }
            <td class="@estilo">
                @disponivel
            </td>
            <td>
                @if (item.Disponivel == 1)
                {
                        <input type="button" value="Selecionar" class="btn btn-primary" onclick="SelecionaSugestao('@Convert.ToDateTime(item.DataInicio).ToString("s", CultureInfo.GetCultureInfo("pt-BR"))')" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
